#main-container{
    padding:40px;
    box-sizing: border-box;
}


@media only screen and (max-width: 700px) and (max-height: 600px) and (orientation: landscape) {
    #main-container{
        padding:0;
        box-sizing:initial;
    }
  }

@media only screen and (max-width: 600px) {
    #main-container{
        padding:0;
        box-sizing:initial;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }